@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Onest';
    src: url(../fonts/Onest-Regular.ttf);
}

@font-face {
    font-family: 'Saghi';
    src: url(../fonts/Saghi\ DEMO.ttf);
}

h1{
    font-family: 'Saghi';
    text-transform: uppercase;
}

p{
    font-family: 'Onest';
}

a{
    font-family: 'Onest';
}

@layer components {
    .container {
        @apply max-w-7xl px-5 mx-auto;
    }
    .button {
        @apply py-4 px-12 transition ease-in-out delay-150 border border-rose-500 rounded  bg-rose-500 hover:-translate-y-1 hover:scale-110 hover:border-rose-900 hover:bg-rose-900 duration-300;
    }
    .button-fill {
        @apply text-white py-4 px-12 transition ease-in-out delay-100 border rounded border-rose-500 bg-rose-500 hover:-translate-y-1 hover:scale-110 hover:border-rose-900 hover:bg-rose-900 duration-300;
    }
    .input{
        @apply outline-0 bg-transparent border border-white border-opacity-25 focus:border-opacity-100 rounded-b-3xl text-white py-4 px-7 placeholder-white placeholder-opacity-50 focus:placeholder-transparent transition w-96;
    }
}
